
body {
background: url('bg2.png') no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;display: flex;
margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
font-family: 'Courier', monospace !important;
}
 #mySceneContainer {
     
            width: 640px;
            height: 320px;
            z-index: 2;
        }
.container {
background-color: white;
    width: 60%; /* adjust as necessary */
    max-width: 800px;
    max-height: 2000%;
    margin-top: -400px; /* adjust as necessary */
    z-index: 1;
    box-sizing: border-box;
    padding: 400px 20px 20px; /* adjust as necessary */
    position: relative;
font-size: 18px;
}
#title {
    z-index: 2;
}

.container input[type="text"] {
width: 100%;
padding: 10px;
font-size: 18px;
display: block;
margin-bottom: 20px;
}

.container p {
font-size: 18px;
margin-bottom: 20px;
}

#dis {
background-color: #005AFF;
color: white;
font-size: 18px;
margin-bottom: 20px;
}
#dis a {
color: white;
font-weight: bold;
text-decoration: underline;
}
#gdpr {
 font-size: 18px;
font-weight: bold;
color: red;   
}

#foot {
    font-size: 18px;
color: black;   
}

#top a {
font-size: 24px;
font-weight: bold;
color: red;
}

#top a:hover {
text-decoration: underline;
    cursor: pointer;
}

#bot a{
font-size: 18px;
font-weight: bold;
color: white; 
}

#bot a:hover {
text-decoration: underline;
}

.container h3 {
font-size: 24px;
}
